extends layout

block content
    center.h1 Welcome! Please choose to login or register as a new user.
    br
    
    a.navbar-brand(href='/login') Login
    a.navbar-brand(href='/register') Register
    
    